{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/Logo.jpg' %}" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>Pawfercto Pets</title>
</head>
<body>

        </nav><!-- Cerramos el menú de opciones -->
    </div>

    <div class="jumbotron">
        <h1>Pawfecto Pets</h1>
        <p>La tienda para mascotas felices</p>
    </div>

    <!-- Construimos carrusel -->
    <div class="container">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <!-- Resto del código del carrusel -->
        </div>
    </div> <!-- Cerramos carrusel -->

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>
                    ¡Bienvenidos a nuestra tienda de mascotas! Somos un lugar donde puedes encontrar todo lo que necesitas para tus amigos peludos. Tenemos una gran variedad de productos de alta calidad, desde comida y golosinas hasta juguetes y accesorios para la comodidad de tu mascota.

                    Además, nuestro equipo de expertos en mascotas está siempre disponible para responder a tus preguntas y asesorarte en cuanto a la alimentación, el cuidado y el adiestramiento de tu mascota. También ofrecemos servicios de peluquería y baño, así como de entrenamiento de obediencia para perros.

                    En nuestra tienda, no solo nos preocupamos por la salud y el bienestar de tus mascotas, sino también por su felicidad. Es por eso que nos esforzamos por ofrecer productos y servicios que satisfagan las necesidades de cada uno de nuestros clientes de cuatro patas. Ven a visitarnos y experimenta la diferencia que nuestra tienda de mascotas puede hacer en la vida de tu mascota. ¡Esperamos verte pronto!
                </h5>
            </div>
            <div class="col-md">
                <img src="{% static 'img/main img1.jpg' %}" class="center" height="300px" width="400px">
            </div>
             <div class="row">
                <div class="col-md">
                    <img src="{% static 'img/main img 2.jpg' %}" class="center" height="300px" width="400px">
                </div>
                <div class="col-md">
                    <h5>
                        Productos para otras mascotas
                    </h5>
                    <h5>
                        En nuestra tienda, no solo nos preocupamos por la salud y el bienestar de tus mascotas, sino también por su felicidad. Es por eso que nos esforzamos por ofrecer productos y servicios que satisfagan las necesidades de cada uno de nuestros clientes de cuatro patas. Ven a visitarnos y experimenta la diferencia que nuestra tienda de mascotas puede hacer en la vida de tu mascota. ¡Esperamos verte pronto!
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-6 text-center">
                    <p>&copy; 2023 Jose Gericke. Todos los derechos reservados.</p>
                </div>
                <div class="col-6 text-center">
                    <ul class="redes-sociales">
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Scripts personalizados -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
{% endblock %}