{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawfecto Pets/Sobre nosotros</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/Logo.jpg' %}" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
</head>
<body > 
</nav>
    <div class="jumbotron jumbocolor">
      <h1>Pawfecto Pets</h1>
      <p>La tienda para mascotas felices</p>
   </div>


  
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>
                    ¡Bienvenidos a nuestra tienda de mascotas! Somos un lugar donde puedes encontrar todo lo que necesitas para tus amigos peludos.
                     Tenemos una gran variedad de productos de alta calidad, desde comida y golosinas hasta juguetes y accesorios para la comodidad de tu mascota.

                    Además, nuestro equipo de expertos en mascotas está siempre disponible para responder a tus preguntas y asesorarte en cuanto a la alimentación,
                     el cuidado y el adiestramiento de tu mascota. También ofrecemos servicios de peluquería y baño, así como de entrenamiento de obediencia para perros.

                    En nuestra tienda, no solo nos preocupamos por la salud y el bienestar de tus mascotas, sino también por su felicidad.
                     Es por eso que nos esforzamos por ofrecer productos y servicios que satisfagan las necesidades de cada uno de nuestros clientes de cuatro patas.
                      Ven a visitarnos y experimenta la diferencia que nuestra tienda de mascotas puede hacer en la vida de tu mascota. ¡Esperamos verte pronto!
                </h5>
            </div>
            <div class="col-md-4 embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6HshPG07PJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>
    <div class="jumbotron" style="background-color: white;">

    </div>
    <div class="jumbotron" style="background-color: white;">

    </div>
    <div class="jumbotron" style="background-color: white;">

    </div>
    </div>
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-6 text-center">
                  <p>&copy; 2023 Jose Gericke. Todos los derechos reservados.</p>
                </div>
				<div class="col-6 text-center">
					<ul class="redes-sociales">
						<a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
						<a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
						<a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
					  </ul>
				</div>
              </div>

        </footer>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4"></script>
</body>

</html>

{% endblock %}